body {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 300;
  text-align: center;
  background-color: #d3d7d8;
}

h1 {
  font-weight: 400;
}

.myContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10%;
}

.inputBox {
  height: 60px;
  width: 60px;
  border: 2px solid aqua;
  font-size: 30px;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}

.wrongIcon {
  height: 5em;
  width: 5em;
  color: red;
}
