/* styles.css */
body {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 300;
  text-align: center;
}

h1 {
  font-weight: 400
}

#game-action {
  color: white;
  background-color: black;
  font-size: 30px;
  padding: 20px;
}

input {
  height: 30px;
  font-size: 30px;
  width: 10%
}

input:focus {
  outline: none;
}

/* buttons have their own font sizing/family, but I want it to follow the rest of the application, so I inherit */
button {
  padding: 8px;
  margin-top: 10px;
  background-color: white;
  border: 1px solid #555;
  outline: none;
  transition: background-color 0.3s;
  font: inherit;
}

/* :hover rules are only applied when the element is being hovered over! cool! */
button:hover {
  background-color: darkturquoise;
}
button:active {
  color: white;
  outline: none;
  background-color: teal;
}

.main-p {
  font-size: 50px
}
